<div class="relative w-full h-screen flex flex-col lg:flex-row">
  <div class="w-full lg:w-[50%] flex flex-col justify-center p-8 lg:p-16">
  </div>
  <div class="w-full lg:w-[50%] h-full overflow-hidden">
    <img 
      class="w-full h-full object-cover object-center"
      src="/headshot2.png" 
      alt="Martin Tejeda headshot"
    />
  </div>
</div>
