<div class=" lg:w-[79%] 2xl:w-[72%] ml-auto  md:flex   relative flex w-full  lg:pointer-events-auto lg:overflow-y-auto  lg:overflow-x-hidden ">
  <div class="lg:ml-96 lg:flex flex-col lg:w-full lg:justify-end ">
    <img class="w-full lg:h-svh" src="/wallpaper1.png" alt="#_"/>
  </div>
</div>
