@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.splide__pagination__page.is-active {
  background: #333;
}

:root {
  --astro-code-color-text: #2d4b65;
  --astro-code-color-background: #fafafa;
  --astro-code-token-constant: #893d88;
  --astro-code-token-string: #747c25;
  --astro-code-token-comment: #1c2a39;
  --astro-code-token-keyword: #2d4b65;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function:#8b75db;
  --astro-code-token-string-expression: #3f6d95;
  --astro-code-token-punctuation: #7a8028;
  --astro-code-token-link: #7a8028;
}


.prose-styles {
  @apply prose text-neutral-500 prose-headings:font-display prose-headings:text-kotei-800 prose-headings:tracking-wide prose-pre:rounded-none;
}
