---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="   bg-neutral-100bg-neutral-100 h-screen">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8 py-20">
    <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
      <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
        <h1
          class="font-display text-5xl    font-medium text-kotei-800">
          Tags category
        </h1>
        <ul role="list" class="mt-8 list-disc">
           {
            tags.map((tag) => (
              <li class="text-neutral-500 text-sm hover:text-kotei-800 ">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>


</BaseLayout>
