<section class="space-y-20 py-20 sm:space-y-32 sm:py-20 bg-neutral-100 h-full">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
      <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
        <h1
          class="font-display text-5xl tracking-tighter font-medium text-kotei-800">
          About Kotei Studio
        </h1>
        <div class="prose-styles mt-8">
          <p >
            We are a studio based in Fukuoka that specializes in crafting
            memorable and elegant brands for businesses. We believe in
            simplicity and beauty as core principles in our work.
          </p>
          <p >
            Our Approach Our process involves identifying the essence of each
            brand, discovering unique aspects, meticulous planning, creative
            drafting, gathering feedback, and finally, launching exceptional
            brand experiences.
          </p>
          <h3>Our Approach</h3>
          <p>
            Our process involves identifying the essence of each brand,
            discovering unique aspects, meticulous planning, creative
            drafting, gathering feedback, and finally, launching exceptional
            brand experiences.
          </p>
          <h3>Our Services</h3>
          <ul role="list">
            <li>Digital Strategy</li>
            <li>Art Direction</li>
            <li>UX Design</li>
            <li>UI Design</li>
            <li>Web Development</li>
            <li>E-Commerce</li>
          </ul>
          <h3>Our Clients</h3>
          <p>
            We've had the privilege of working with a diverse range of
            clients, including Allbirds, Castro Capital, The Better Group,
            Fool Inc, Astronaut Gum, Cadbury Ice, Apple, CapriSun, Nike,
            Sonos, and Webflow.
          </p>
          <p>
            Our goal is to create brands that leave a lasting impression on
            customers, and we're committed to making that happen
          </p>
        </div>
        <div class="flex  pt-4 mt-8">
          <a class="flex items-center justify-center  h-12 py-2.5 px-4 border-2 border-kotei-800  text-sm font-semibold text-kotei-800 transition-all    hover:text-kotei-800  w-auto" href="/forms/contact">
        Send us a message &nbsp; &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
