---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="lg:w-[79%] 2xl:w-[72%] ml-auto md:flex relative flex w-full lg:pointer-events-auto lg:overflow-y-auto lg:overflow-x-hidden">
    <span class="absolute text-white right-20 top-20 text-8xl font-display"
      >404</span
    >
    <div class="lg:ml-96 lg:flex flex-col lg:w-full lg:justify-end">
      <img
        class="w-full lg:h-screen"
        src="/wallpaper1.png"
        alt="placeholder image"
      />
    </div>
  </div>
</BaseLayout>
