<section class="bg-neutral-100">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8 py-20 sm:py-20 h-svh">
    <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
      <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 text-neutral-500 text-sm">
          <div>
            <h1
              class="font-display text-3xl    font-medium text-kotei-800">
              Overview
            </h1>
            <div class="mt-8 grid grid-cols-1 gap-12">
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  Main pages
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/"
                      >Landing page</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/404"
                      >404</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  Forms
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/contact"
                      >Contact</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  System
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/system/overview"
                      >Overview</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/system/style-guide"
                      >Style Guide</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <h1
              class="font-display text-3xl    font-medium text-kotei-800">
              Content Collections
            </h1>
            <div class="mt-8 grid grid-cols-1 gap-12">
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  Work
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/work/home"
                      >All work</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/work/1"
                      >Work details</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  Infopages
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/dpa"
                      >DPA</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/faq"
                      >FAQ</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/cookies"
                      >Cookies</a
                    >
                  </li>

                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/about"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/terms"
                      >Terms</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/infopages/privacy"
                      >Privacy</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h3
                  class="font-display text-2xl    font-medium text-kotei-800">
                  Blog
                </h3>
                <ul
                  role="list"
                  class="mt-4">
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/blog/blog-one"
                      >Blog landing one</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/blog/blog-two"
                      >Blog landing two</a
                    >
                  </li>
                   <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/posts/1"
                      >Blog post</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/tags"
                      >Tag index</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/tags/ARIA"
                      >Tag Category</a
                    >
                  </li>
                  <li>
                    <a
                      class=" hover:text-kotei-800"
                      href="/rss.xml"
                      >RSS</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
