<section class="bg-neutral-100">
  <article>
    <div>
      <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8 py-20">
        <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
          <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
            <h1 class="font-display text-5xl font-medium text-kotei-800">
              Overview
            </h1>
            <div class="mt-8">
              <div class="border-b pb-5 border-neutral-200">
                <p>
                  <span class="text-kotei-800">Typography</span> / <span
                    class="text-neutral-500"
                    >Boska - Inter - JetBrains Mono</span
                  >
                </p>
              </div>
              <div class="mt-12">
                <div>
                  <div class="space-y-6 py-3">
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div>
                        <span class="text-kotei-800">Display</span>
                      </div>
                      <div>
                        <span
                          class="font-display text-5xl md:text-8xl font-medium text-kotei-800"
                          >Display</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div>
                        <span class="text-kotei-800">Header 1</span>
                      </div>
                      <div>
                        <span
                          class="font-display text-5xl font-medium text-kotei-800"
                          >Header 1</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Header 2</span></div>
                      <div>
                        <span
                          class="font-display text-4xl font-medium text-kotei-800"
                          >Header 2</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Header 3</span></div>
                      <div>
                        <span
                          class="font-display text-3xl font-medium text-kotei-800"
                          >Header 3</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Link</span></div>
                      <div>
                        <span
                          class="text-kotei-800 text-base hover:text-neutral-500"
                          >Link text</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Subtitle</span></div>
                      <div>
                        <span class="text-kotei-800 font-semibold text-base"
                          >Subtitle text</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Paragraph</span></div>
                      <div>
                        <span class="text-sm text-neutral-500"
                          >I am so happy, my dear friend, so absorbed in the
                          exquisite sense of mere tranquil existence, that I
                          neglect my talents.</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Caption</span></div>
                      <div>
                        <span class="text-kotei-800 text-xs"
                          >Picture about somethign</span
                        >
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">Code</span></div>
                      <div>
                        <code class="font-mono">tailwind.config.js</code>
                      </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
                      <div><span class="text-kotei-800">List</span></div>
                      <div>
                        <ul
                          class="list-disc mt-3 prose-sm text-neutral-500"
                          role="list">
                          <li>Access to premium posts</li>
                          <li>Weekly newsletters</li>
                          <li>Simple, secure card payment</li>
                          <li>No Advertising</li>
                          <li>Special discounts</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-12">
                <div class="border-b pb-5 border-neutral-200">
                  <p class="text-kotei-800">Color palette</p>
                </div>
              </div>
              <div class="grid gap-2 grid-cols-2 lg:grid-cols-2 mt-12">
                <div>
                  <div class="lg:justify-center p-6 bg-kotei-50"></div>
                  <div class="lg:justify-center p-6 bg-kotei-100"></div>
                  <div class="lg:justify-center p-6 bg-kotei-200"></div>
                  <div class="lg:justify-center p-6 bg-kotei-300"></div>
                  <div class="lg:justify-center p-6 bg-kotei-400"></div>
                  <div class="lg:justify-center p-6 bg-kotei-500"></div>
                  <div class="lg:justify-center p-6 bg-kotei-600"></div>
                  <div class="lg:justify-center p-6 bg-kotei-700"></div>
                  <div class="lg:justify-center p-6 bg-kotei-800"></div>
                  <div class="lg:justify-center p-6 bg-kotei-900"></div>
                  <div class="lg:justify-center p-6 bg-kotei-950"></div>
                  <div class="lg:justify-center p-6 bg-kotei-1000"></div>
                  <div class="lg:justify-center p-6 bg-kotei-1050"></div>
                </div>
                <div>
                  <div class="lg:justify-center p-6 bg-white"></div>
                  <div class="lg:justify-center p-6 bg-neutral-50"></div>
                  <div class="lg:justify-center p-6 bg-neutral-100"></div>
                  <div class="lg:justify-center p-6 bg-neutral-200"></div>
                  <div class="lg:justify-center p-6 bg-neutral-300"></div>
                  <div class="lg:justify-center p-6 bg-neutral-400"></div>
                  <div class="lg:justify-center p-6 bg-neutral-500"></div>
                  <div class="lg:justify-center p-6 bg-neutral-600"></div>
                  <div class="lg:justify-center p-6 bg-neutral-700"></div>
                  <div class="lg:justify-center p-6 bg-neutral-800"></div>
                  <div class="lg:justify-center p-6 bg-neutral-900"></div>
                  <div class="lg:justify-center p-6 bg-neutral-950"></div>
                </div>
              </div>
              <div class="mt-12 lg:mt-32">
                <div class="border-b pb-5 border-neutral-200">
                  <p class="text-kotei-800">Buttons</p>
                </div>
                <div class="flex-wrap flex gap-2 mt-6">
                  <a
                    href="/system/overview"
                    class="flex items-center justify-center h-12 py-2.5 px-4 border-2 border-kotei-800 text-sm font-semibold text-kotei-800 transition-all hover:text-kotei-1000 hover:border-kotei-1000 w-auto"
                    href="/forms/contact"
                    >See all pages
                  </a><a
                    href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/2813ea13-f8f9-41e3-8f02-e5ac0cffefaa"
                    class="flex items-center justify-center h-12 py-2.5 px-4 text-sm font-semibold text-kotei-800 transition-all hover:text-kotei-900 w-auto"
                    href="/forms/contact"
                    >Buy Kotei &nbsp; &rarr;</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
