---
import { work } from "../../data/work.json";
---
<div class=" lg:w-[79%] 2xl:w-[72%] ml-auto  md:flex   relative flex w-full  lg:pointer-events-auto md:overflow-y-auto  md:overflow-x-hidden ">
  <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end ">
    <div class="w-full " x-data="{
init() {
  new Splide(this.$refs.splide, {
      direction: 'ttb',
      height   : '100vh',

      wheel    : true,
       snap   : true,
      perPage: 1,
      gap: '0rem',
      breakpoints: {
          640: {
              perPage: 1,
          },
      },
  }).mount()
},
}">
      <div x-ref="splide" class="splide hscreen w-full relative h-screen ">
        <div class="splide__arrows flex flex-col absolute z-10 right-6   inset-y-0">
          <button class="splide__arrow splide__arrow--prev">
           ↑
          </button>
          <button class="splide__arrow splide__arrow--next">
            ↓
          </button>
        </div>

        <div class="splide__track w-full relative">
          <ul class="splide__list w-full">
              {
          work.map((template) => (
            <>
              <li class="splide__slide flex flex-col items-center justify-center w-full">
                <a
                  href={template.url} class="w-full h-full">
                 <img class="w-full h-full" src={template.image} alt="placeholder image"/>
                </a>
              </li>
            </>
          ))
        }



          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
