<div class="relative flex-none overflow-hidden px-8 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0">
  <div class="relative flex w-full bg-neutral-50 lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+39.7rem)] lg:min-w-[32rem] lg:overflow-y-auto lg:overflow-x-hidden lg:pl-[max(4rem,calc(50%-38rem))]">
    <div class="mx-auto max-w-lg lg:mx-0 lg:flex lg:w-96 lg:max-w-none lg:flex-col ">
      <div class="pb-16 pt-20 sm:pb-20 sm:pt-32 lg:py-20 ">

        <a href="/" class="text-kotei-800">
          Dezain Sutajio</a>
        <h1 class="mt-8 font-display text-5xl lg:text-8xl tracking-tighter font-medium text-kotei-800">Kotei Studio
        </h1>
        <p class="mt-4 text-sm text-neutral-500">
          We're a studio based in Fukuoka that specializes in creating beautiful and simple brands for businesses that customers remember.
        </p>
        <ul class="mt-8 " role="list">

          <li>
            <a class="text-neutral-500 text-sm hover:text-kotei-800" href="/work/all-work">Work</a>
          </li>
          <li>
            <a class="text-neutral-500 text-sm hover:text-kotei-800" href="/infopages/about">About</a>
          </li>
          <li>
            <a class="text-neutral-500 text-sm hover:text-kotei-800" href="/blog/blog-one">Blog</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-1 items-end  pb-4 lg:justify-start lg:pb-6 gap-3">
        <p class="flex items-baseline">
          <a class="rounded-lg  text-xs font-medium text-kotei-800  hover:text-kotei-1000     " href="/system/overview">
            Overview
          </a>
        </p>
        <p class="flex items-baseline">
          <a class="rounded-lg  text-xs font-medium text-kotei-800  hover:text-kotei-1000    " href="/system/style-guide">
            Style Guide
          </a>
        </p>
        <p class="flex items-baseline">
          <a class="rounded-lg  text-xs font-medium text-kotei-800  hover:text-kotei-1000     " href="#">
            Buy Kotei
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
